<header>
    <div class="container">
      <a routerLink="/" class="logo">Transport System</a>
      <nav>
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/shortestpath">Shortest Path</a></li>
        </ul>
      </nav>
    </div>
  </header>