
<div class="container-fluid">

  <!-- <hr>

  <p>
    Find Shortest Path
  </p>

  <hr> -->

  <!-- <ngbd-typeahead-focus></ngbd-typeahead-focus> -->
  <!-- <app-shortestpath></app-shortestpath> -->

  <app-nav></app-nav>

<section>
  <router-outlet></router-outlet>
</section>

</div>