<br/>
<div id="container">
    <div>
        <label for="typeahead-focus">Source Planet:</label>
<input
  id="typeahead-focus-source"
  type="text"
  class="form-control"
  [(ngModel)]="modelsource"
  [ngbTypeahead]="searchsource"
  (focus)="sourceFocus$.next($event.target.value)"
  (click)="sourceClick$.next($event.target.value)"
  #sourceinstance="ngbTypeahead"
/>
    </div>
    <div>
        <label for="typeahead-focus">Destination Planet:</label>
    <input
  id="typeahead-focus-dest"
  type="text"
  class="form-control"
  [(ngModel)]="modeldest"
  [ngbTypeahead]="searchdest"
  (focus)="destFocus$.next($event.target.value)"
  (click)="destClick$.next($event.target.value)"
  #destinstance="ngbTypeahead"
/>
    </div>
    <div>
        <br/>
        <button class="btn btn-primary" type="submit" (click)="findShortestDistance()">Find shortest distance</button>
    </div>
</div>

<table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Planet Source</th>
      <th scope="col">Planet Destination</th>
      <th scope="col">Shortest Distance</th>
      <th scope="col">Shortest Distance with Traffic Delay</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let planet of planets; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>
        <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + planet.Source.Image" class="mr-2" style="width: 20px">
        {{ planet.Source.Name }}
      </td>
      <td>
          <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + planet.Destination.Image" class="mr-2" style="width: 20px">
          {{ planet.Destination.name }}
        </td>
      <td>{{ planet.ShortestDistance | number }}</td>
      <td>{{ planet.ShortestDistanceWithTraffic | number }}</td>
    </tr>
    </tbody>
  </table>

<hr>
<!-- <pre>Model: {{ modelsource | json }}</pre><br/>
<pre>Model: {{ modeldest | json }}</pre> -->
