.form-control {
     width: 300px;
     }

.parent {
    padding: none;
  }

  .child {
    border: none;
    padding: 1rem;
  }

  .float-left-child {
    float: left;
  }

  #container {
    display: table;
    width: 100%;
    background: #ccc;
}
#container > div {
    display: table-cell;
    padding: 1em;
    width: 25%;
}
#container > div:nth-child(2) {
    width: 50%;
    background: #666;
}
